.heading {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 15vh; /* Set the height to cover the entire viewport */
  background: #50439175;
  border-bottom-left-radius: 20px; /* Adjust the radius as needed */
  border-bottom-right-radius: 20px; /* Adjust the radius as needed */
}

.heading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  height: 15%; /* Set the height to 100% */
}

.heading-logo {
  width: 30%;
  top: 20;
}
/* Add this style for the button container */
