.heading {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 30vh; /* Set the height to cover the entire viewport */
  background: #50439175;
  border-bottom-left-radius: 20px; /* Adjust the radius as needed */
  border-bottom-right-radius: 20px; /* Adjust the radius as needed */
}

.heading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  height: 15%; /* Set the height to 100% */
}

.heading-logo {
  width: 30%;
  top: 20;
}
/* Add this style for the button container */

.disconnect {
  position: relative;
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
  height: 50vh; /* Set the height to cover the entire viewport */
  background: #d9d9d9;
  border-top-left-radius: 20px; /* Adjust the radius as needed */
  border-top-right-radius: 20px; /* Adjust the radius as needed */
  border-bottom-left-radius: 20px; /* Adjust the radius as needed */
  border-bottom-right-radius: 20px; /* Adjust the radius as needed */
}

.disconnect-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  height: 15%; /* Set the height to 100% */
}

/* Add this style for the button container */
.disconnect-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add styles for the buttons if needed */
.disconnect-button button {
  color: #ffffff; /* Change this to your desired text color */
  font-family: var(--font-family4);
  font-weight: 900; /* Increase font weight */
  font-size: 36px; /* Adjust font size as needed */
  background-color: #50439175; /* Add other styling as needed */
  padding: 20px 60px; /* Adjust the padding as needed */
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Add undershadow */
}

/* Add styles for the buttons if needed */
.button1 {
  color: #50439175; /* Change this to your desired text color */
  font-family: var(--font-family4);
  font-size: 20px;
  background-color: #d9d9d9; /* Add other styling as needed */
  padding: 5px 20px; /* Adjust the padding as needed */
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
